<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body class="cover1">
     <a href="/albums" id="return">Return to all albums</a></br>
    <section id="show-page">
  <div>Title: <%= album.title %></div>
  <div>Release Year: <%= album.releaseYear %></div>
</section>

<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/reviews/<%= album._id %>">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review" action="reviews">
</form>

<% if (album.reviews) { %>
  <table>
    <thead>
      <tr>
        <th class="review">Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% album.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td><form id="delete-form" action="/reviews/<%= album.id %>/<%= r.id %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</section>
</body>
</html>
